updates/files/public_html/layouts/resources/colors/*
updates/files/tests/*

updates/files/user_privileges/*

updates/files/config/*/*
!updates/files/config/username_blacklist.php
!updates/files/config/csrf_config.php
!updates/files/config/mimetypes.php
!updates/files/config/ConfigTemplates.php
!updates/files/config/version.php
!updates/files/config/Security.php
!updates/files/config/Performance.php
!updates/files/config/Components/ConfigTemplates.php

updates/files/app_data/*/*
!updates/files/app_data/**/index.html
!updates/files/app_data/icons.php
!updates/files/app_data/moduleHierarchy.php

updates/files/install/*

.sonarlint/
.history/
