updates/files/public_html/layouts/resources/colors/*
updates/files/tests/*

/user_privileges/*

/config/*
!/config/username_blacklist.php
!/config/csrf_config.php
!/config/mimetypes.php
!/config/ConfigTemplates.php
!/config/version.php
!/config/Security.php
!/config/Performance.php
!/config/Debug.php
!/config/Components/ConfigTemplates.php

/app_data/cron.php
/app_data/owners_colors.php
/app_data/registration.php
/app_data/shop.php
/app_data/SystemUpdater.json
/app_data/LanguagesUpdater.json
/app_data/ConfReport_AllErrors.php
/app_data/PwnedPassword.php

.sonarlint/
.history/
